@page
@model ClasTech.Teste.Pages.Views.Home.Pedido.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PedidoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoViewModel.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoViewModel.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoViewModel.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoViewModel.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoViewModel.ValorTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoViewModel.ValorTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoViewModel.DataPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoViewModel.DataPedido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoViewModel.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoViewModel.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PedidoViewModel?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
